@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.banner{
    font-family: 'Inter';
    position: relative;
    width: 340px;
    min-height: 100%;
    padding: 0 32px 56px 32px;
}
.productimage{
    display: flex;
    justify-content: center;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.title{
    letter-spacing: -1.3px;
    font-weight: 300;
    font-size: 33px;
}
.description{
    line-height: 24px;
    font-size: 14px;
    color: #909090;
}
.banner > button {
    margin-top: 50px;
}
.indicator{
    display: none;
}
@media screen and (max-width:760px) {
    .banner{
        min-width: 100%;
        padding: 56px 32px 66px 32px;
        scroll-snap-align: start;
    }
    .info{
        gap: 12px;
        text-align: center;
    }
    .banner > button {
        margin: 16px auto;
    }
    
}