.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 112px 160px;
}
.images {
  display: flex;
  gap: 48px;
}

.image > img {
  width: 313px;
}
.imagelist {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.imagelist > div {
  padding: 8px 8px;
  border: 2px solid black;
  background-color: blue;
}
.info {
  width: 536px;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.title > p {
  width: 536px;
  height: 40px;

  font-weight: 700;
  font-size: 40px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.prices {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 14px;
}
.title > .prices > .price {
  width: 101px;
  height: 48px;

  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.title > .prices > .beforeDiscountPrice {
  width: 419px;
  height: 32px;

  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.03em;
  text-decoration-line: line-through;
  color: #a0a0a0;
  flex: none;
  order: 1;
  flex-grow: 1;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.varients {
  display: flex;
  gap: 16px;
}
.varientCard {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  font-size: 14px;
  color: #6f6f6f;
  width: 122px;
  height: 48px;
  border: 1px solid #d5d5d5;
  border-radius: 8px;
}
.selectedVarient {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  font-size: 14px;
  color: black;
  width: 122px;
  height: 48px;
  border: 1px solid black;
  border-radius: 8px;
}
.description {
  width: 536px;
  height: 72px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #6c6c6c;
}
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0px;
  gap: 16px;
  margin: 12px 0;
  width: 536px;
  height: 56px;
}
.wishListBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 56px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 6px;
}
.addToCartBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 16px 56px;
  background: black;
  border: 1px solid #000000;
  border-radius: 6px;
}
.otherInfoCards{
  display: flex;
  gap: 32px;
}
.bottomCardContent{
  display: flex;
  align-items: center;
  gap: 12px;
}
.bottomCardTitle{
font-weight: 500;
font-size: 14px;
color: #717171;
}
.bottomCardInfo {
  font-size: 12px;
}
.bottomIconContainer{
display: flex;
flex-direction: column;
align-items: center;
padding: 16px;
gap: 8px;
width: 56px;
height: 56px;
background: #F6F6F6;
border-radius: 11px;
}