.verticalbanners {
  display: flex;
}
@media screen and (max-width: 760px) {
  .verticalbanners {
    position: relative;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
    margin-top: 350px;
  }
  /* .indicator{
        position: fixed;
        top: 95%;
        bottom: 5%;
        bottom: -20px;
        right: 42%;
        height: 8px;
        gap: 4px;
        display: flex;
        justify-content: space-evenly;
        max-width: 56px;
        margin: 0 auto;
    }
    .indicator >  .selecteddot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: black;
    }
     .indicator > .dot{
        width: 8px;
        height: 8px;
        background-color: #909090;
        border-radius: 50%;
    } */
}
