.subnav{
    display: none;
    height: 48px;
    padding: 8px 160px;
    color: white;
    background-color: #2E2E2E;
}
.list{
    display: flex;
    opacity: 50%;
    height: 100%;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.list > div {
    display: flex;
    align-items: center;
    gap: 4px;
}
.divider{
    height: 24px;
    width: 0;
    padding: 0 1px;
    background-color: white;
}
@media screen and (max-width: 760px) {
    .subnav{
        display: none;
    }
}